@font-face {
  font-family: 'Nunito';
  src: url('../../frontend/public/fonts/Nunito/Nunito-VariableFont_wght.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../../frontend/public/fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

body {
  margin: 0;
  font-family: 'Nunito', monospace;
  color: rgb(235, 225, 225);
  text-shadow: 1px 1px 1px #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../src/resources/bckgrnd.png');
  scrollbar-width: thin;
  scrollbar-color: #2d2e30 transparent;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #101010;
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  width: 100vw;
  height: 100vh;
  font-family: 'Nunito', sans-serif;
}

button {
  font-family: 'Nunito', sans-serif;
}
