@font-face {
  font-family: 'Nunito';
  src: url('../../frontend/public/fonts/Nunito/Nunito-VariableFont_wght.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../../frontend/public/fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

body {
  margin: 0;
  font-family: 'Nunito', monospace;
  color: rgb(235, 225, 225);
  text-shadow: 2px 2px 4px #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../src/resources/bckgrnd.png');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100vw;
  height: 100vh;
  font-family: 'Nunito', sans-serif;
}

button {
  font-family: 'Nunito', sans-serif;
}