name: Build executable

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up GraalVM JDK 21
        uses: graalvm/setup-graalvm@v1
        with:
          distribution: 'graalvm'
          java-version: '21'
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Download JRE
        run: |
          Invoke-WebRequest -Uri "https://github.com/ibmruntimes/semeru21-binaries/releases/download/jdk-21.0.9%2B10_openj9-0.56.0/ibm-semeru-open-jre_x64_windows_21.0.9_10_openj9-0.56.0.zip" -OutFile jre.zip
          Expand-Archive -Path jre.zip
          Move-Item jre\* backend
        working-directory: frontend
      
      - name: Install Dependencies
        run: |
          git config --global url."https://github".insteadOf ssh://git@github
          git config --global url."https://github.com/".insteadOf git@github.com:
          npm install
          yarn install
        working-directory: frontend

      - name: Prevent CI from failing on warnings
        run: echo "CI=false" >> $env:GITHUB_ENV

      - name: Set app version
        run: echo "APP_VERSION=$(Get-Date -Format 'yyyyMMdd-HHmmss')" >> $env:GITHUB_ENV

      - name: Build Electron app
        run: yarn electron:build
        working-directory: frontend
        env:
          CI: false
      
      - name: Upload installers to action
        uses: actions/upload-artifact@v4
        with:
          name: app-${{ github.sha }}
          path: frontend/dist/**
      
      - name: Move installer
        run: |
          Move-Item "dist\*Setup*.exe" ".."
        working-directory: frontend

      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          files: "*Setup*.exe"
          tag_name: "v${{ env.APP_VERSION }}"
          name: "Release ${{ env.APP_VERSION }}"
          draft: false
          prerelease: false